@use '../../../abstracts/variables' as v;
@use '../../../abstracts/mixins' as m;
@use '../../../base/functions' as f;
@use '../../../abstracts/placeholders.scss';

.#{v.$brand} {
    &_inviteYourFriends {
        margin: 5.5rem 0 2.5rem;
        &__body {
            .titleSection {
                text-align: center;
                border-radius: 1.6rem 1.6rem 0 0;
                font-family: v.$didot, sans-serif;
                font-weight: 700;
                color: f.color(grayscale, black);
                font-size: f.toRem(32);
                line-height: 3.4rem;
                &.red {
                    padding: 1.75rem 0;
                    font-weight: 400;
                    font-family: v.$artois_sebas, v.$apercuPro, sans-serif;
                    background-color: f.color(primary,red);
                    color: f.color(grayscale, white);
                    font-size: f.toRem(28);
                    line-height: 3.9rem;
                    text-transform: uppercase;
                }
            }
            .question {
                margin: 1.5rem 0;
            }
        }
        .containerCardInfo {
            padding: 1.5rem 0;
            &__body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                width: 80%;
            }
            .card {
                border: .1rem solid f.color(grayscale, black);
                border-radius: .4rem;
                padding: 1.2rem 1.7rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.4rem;
                &__img {
                    display: contents;
                    img {
                        display: block;
                        width: 5.8rem;
                        height: 5.8rem;

                    }
                }
                &__description {
                    .titlleCard {
                        font-size: f.toRem(14);
                        font-family: v.$apercuPro;
                        font-weight: 700;
                        margin-bottom: .3rem;
                        letter-spacing: 0.02em;
                    }
                    .textCard {
                        font-size: f.toRem(14);
                        font-family: v.$apercuPro;
                        font-weight: 400;
                        letter-spacing: 0.03em;
                        color: rgba(f.color(grayscale,black), .4);
                    }
                    a {
                        color: f.color(grayscale,black);
                        text-decoration: underline;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}