@use '../../../abstracts/variables' as v;
@use '../../../abstracts/mixins' as m;
@use '../../../base/functions' as f;

.#{v.$brand} {
    &_tada {
        padding: 7rem 0 2rem;
        overflow: hidden;
        &__body {
            border: .1rem solid f.color(grayscale, black);
            border-radius: .4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            padding: 1.5rem 0 1.5rem 1.8rem;
        }
        .content {
            width: 100%;
            flex: auto;
            &__img {
                max-width: 10rem;
                &::after {
                    width: 100%;
                    left: 0;
                    transform: none;
                    top: calc(100% + 1.1rem);
                }
            }
            &__text {
                margin-top: 2.3rem;
                font-weight: 500;
                font-size: f.toRem(14);
                line-height: 2rem;
                letter-spacing: 0.03em;
                color: f.color(grayscale, black);
            }
        }
        .imgPhone {
            width: 90%;
            position: relative;
            align-self: flex-end;
            img {
                width: 13.2rem;
                height: 20rem;
                position: absolute;
                bottom: -1.5rem;
                right: 0;
                object-fit: contain;
                object-position: bottom;
            }
        }
    }
}