@use 'variables' as v;
@use '../base/functions' as f;

// ==========================================================================
// MEDIA QUERIES
// ==========================================================================
@mixin mq($media: mob, $type: max){
	@if type-of($media) == number {
		@if unitless($media) {
			@media only screen and (#{$type}-width: $media + px){
				@content;
			}
		}
	} @else {
		@if type-of(map-get(v.$mediaqueries, $media)) == number {
			@media only screen and (#{$type}-width: map-get(v.$mediaqueries, $media) + px){
				@content;
			}
		} @else if type-of(map-get(v.$mediaqueries, $media)) == string {
			@media #{map-get(v.$mediaqueries, $media)}{
				@content;
			}
		}
	}
}

// ==========================================================================
// BUTTONS
// ==========================================================================
@mixin btnSA($bgColor, $display) {
    // padding: 1rem 3rem;
	font-size: f.toRem(24);
	font-family: v.$apercuPro;
	font-weight: 400;
	letter-spacing: 0.04em;
    color: f.color(grayscale, white);
    text-decoration: none;
    text-align: center;
    border: none;
	border-radius: .4rem;
	text-transform: uppercase;
	@if $display == full {
		display: block;
		width: 100%;
		max-width: 31.2rem;
		padding: 1.3rem 0;
	}
	@if $display == small {
		display: inline-block;
		padding: 1.3rem 3rem;
	}
    @if $bgColor == dorado {
        background: linear-gradient(224.45deg, #FFDA9C 1.98%, #B89150 50.22%);
    }
    @if $bgColor == rojo {
        background: linear-gradient(224.45deg, #BF393F 1.98%, #7F252A 84.24%);
    }
    @if $bgColor == blanco {
        background: linear-gradient(182.6deg, #FFFFFF -17.48%, #C6C6C6 40.78%, #FFFFFF 97.83%);
    }
    &:hover {
        opacity: .8;
        cursor: pointer;
    }
}

// ==========================================================================
// TRANSITIONS
// ==========================================================================
@mixin transition($prop: all, $time: .5, $timing: ease){
	transition: $prop $time + s $timing;
	@content;
}